@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

body {
    font-family: 'Zilla Slab', serif;
}
#nav-mobile > li {
    margin-left: 70px !important;
}
.nav-wrapper > a, .nav-wrapper ul li > a {
    color: black !important;
}
nav {
    background-color: white !important;
    box-shadow: none !important;
}
header {
    margin-bottom: 15px;
}
#photodiary h4{
    margin-top: 0px;
}
#lifestyle {
    margin-top: 100px;
}
#lifestyle h5 {
    margin-top: 10px !important;
}
@media screen and (max-width: 1200px) {
        #lifestyle .row .col {
            padding: 0;
        }
}