.logo {
    width: 100px;
    padding: 10px;
    border: 2px solid;
}
div {
    margin: 5px 0;
}
.nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}
.header {
    border: 2px solid;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    display: inline;
}
.main {
    display: grid;
    grid-template-areas: 
    'post list list'
    'post gallery gallery'
    ;
}
.post {
    border: 2px solid;
    grid-area: post;
}
.list {
    border: 2px solid;
    grid-area: list;
    margin-left: 15px;
}
.gallery {
    border: 2px solid;
    grid-area: gallery;
    margin-left: 15px;
}
.gallery, .list {
    width: 350px;
}
.imgpost {
    background-color: #c8c9ca;
    width: 98%;
    height: 250px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content p, h3 {
    padding: 0 15px;
}
.im {
    background-color: #c8c9ca;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.card-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
    input {
        position: relative;
        bottom: 44px;
    }
    .gallery, .list {
        width: 150px;
    }
}



@media (min-width: 320px) and (max-width: 768px) {
    input {
        position: relative;
        bottom: 44px;
    }
    .main {
        display: grid;
        grid-template-areas: 
        'post'
        'gallery'
        ;
    }
    nav ul {
        position: absolute;
        top: 57px;
    }
    .list {
        display: none;
    }
    .gallery, .list {
        width: 100%;
    }
    .gallery {
        margin-left: 0px;
    }
}